<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Crimson+Text" rel="stylesheet">
        <title>{{tab_title}}</title>
    </head>
    <body>
        <nav>
            <a class='links' href="/">Home</a>
            <a class='links' href="/blog">Main Blog Page</a>
            <a class='links' href="/newpost">Add New Blog</a>
            <a class='links' href="/login">Login</a>
            <a class='links' href="/logout">Logout</a>
        </nav>
        <div class="background">
        <h1 class="header"><b>BLOGZ</b></h1>

        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>