<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Crimson+Text" rel="stylesheet">
        <title>{{tab_title}}</title>
    </head>
    <body>
        <nav>
            <a class="mainlink" href="blog">Main Blog Page</a>
            <a class="addblog" href="/newpost">Add New Blog</a>
        </nav>
        <div class="background">
        <h1 class="header"><b>BUILD A BLOG</b></h1>

        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>