.error {
    color: black;
}

.header {
    font-size: 50px;
    margin-top: 0px;
    padding-top: 20px; 
    font-family: 'Black Han Sans', sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    text-align: center;
    padding-bottom: 100%;
}

nav {
    background: rgb(29, 75, 77);
    padding: 20px;
    border: black solid 2px;
}

nav a {
    color: white;
    text-decoration-line: none; 
}

.addblog {
    float:right;
    margin-right: 200px;
}

.mainlink {
    margin-left: 200px;
}

.blogtitle {
    border: solid black 2px;
    padding: 10px;
    background-color: rgb(29, 75, 77);
    color: white;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Black Han Sans', sans-serif;

}

.homepage-title {
    text-decoration-line: none;
}

.blogtitle:hover {
    color:whitesmoke;
    padding: 10px;
    background-color: gray;
    width: 400px;
    
}

.blogbody {
    width: 70%;
    margin: 10px auto;
    margin-bottom: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.background {
    background-color: rgb(24, 122, 122);
}

label {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.links {
    padding: 0px 10px;
}
